* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Montserrat, sans-serif;
  color: #252B42;
  background: #FAFAFA;
  font-weight: 500;
  font-size: 14px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1046px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__block {
  text-align: center;
  letter-spacing: 0.2px;
}

.header-block__title {
  line-height: 142%;
  font-weight: 700;
  font-size: 40px;
}

.header-block__title:not(:last-child) {
  margin: 0 0 10px 0;
}

.header__block-subtitle {
  line-height: 142%;
  color: #000000;
  text-align: center;
}

@media (max-width: 992px) {
  .header-block__title {
    font-size: 30px;
  }
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header__body {
  position: relative;
  min-height: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-weight: bold;
  font-size: 24px;
  color: #000000;
  z-index: 3;
}

.header__logo:hover {
  color: #FFFFFF;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.header__burger {
  display: none;
}

.header__menu {
  margin: 0 0 0 0px;
}

.menu {
  padding: 5px 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.menu__item {
  margin: 0px 30px 0 0;
}

.header__link {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  line-height: 171%;
}

.header__link:hover {
  color: #FFFFFF;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .header {
    position: fixed;
  }
  .header:before {
    background-color: #fff;
  }
  .header__body {
    min-height: 50px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__menu.active {
    top: 0;
  }
  .menu__list {
    padding: 70px 0 0 20px;
    display: block;
  }
  .menu__item {
    font-size: 20px;
    margin: 20px 0 0 0;
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-block {
  position: relative;
}

.main-block__body {
  padding: 184px 0 191px 0;
  position: relative;
  max-width: 509px;
  min-height: 418px;
  z-index: 2;
}

@media (max-width: 992px) {
  .main-block__body {
    padding: 100px 0 191px 0;
  }
}

.main-block__body > *:not(:last-child) {
  margin: 0 0 35px 0;
}

.main-block__title {
  font-weight: 800;
  font-size: 58px;
  line-height: calc(80 / 58 * 100%);
  letter-spacing: 0.2px;
  color: #000000;
}

@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
}

.main-block__text {
  max-width: 376px;
  font-size: 20px;
  line-height: calc(30/20*100%);
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin: 120px 0;
}

@media (max-width: 425px) {
  .main-block__text {
    color: rgba(0, 0, 0, 0.88);
  }
}

.main-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0;
}

.main-block__button {
  border-radius: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2px;
  font-weight: 700;
  text-align: center;
  line-height: 150%;
  padding: 5px 36px;
  margin: 10px 0;
}

@media (max-width: 425px) {
  .main-block__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.main-block__button:not(:last-child) {
  margin-right: 10px;
}

.main-block__button_red {
  background: #b22222;
  color: #fff;
}

.main-block__button_border {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 1300px) {
  .main-block__image img {
    -o-object-position: right;
       object-position: right;
  }
}

.page__services {
  position: relative;
  margin: -111px 0 0 0;
  z-index: 2;
}

@media (min-width: 670px) {
  .services__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -15px -30px;
  }
}

.services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: 0 0 30px 0;
}

@media (min-width: 670px) {
  .services__column {
    padding: 0 15px;
  }
}

@media (max-width: 992px) {
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .services__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.services__item {
  height: 100%;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  padding: 35px;
}

@media (max-width: 479px) {
  .item-service {
    padding: 20px;
  }
}

.item-service__green {
  background-color: #0D5C63;
}

.item-service__green .item-service__title {
  color: #fff;
}

.item-service__green .item-service__text {
  color: #fff;
}

.item-service > *:not(:last-child) {
  margin: 0 0 10px 0;
}

.item-service__title {
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 24px;
  line-height: calc(32/24*100%);
}

.item-service__text {
  line-height: calc(24/14*100%);
  color: #737373;
}

.item-service__text-green {
  color: #fff;
}

.advantages {
  padding: 80px 0;
}

@media (max-width: 992px) {
  .advantages {
    padding: 50px 0;
  }
}

@media (max-width: 767px) {
  .advantages {
    padding: 30px 0;
  }
}

.advantages__header {
  margin: 0 0 50px 0;
}

.header-block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: calc(57/40*100%);
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 10px;
  text-align: center;
}

.advantages__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px -30px;
}

.advantages__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 15px 30px;
}

@media (max-width: 1020px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 560px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.advantages__item {
  background: #fff;
  padding: 30px;
  font-weight: 700;
  text-align: center;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  height: 100%;
}

.advantages__item > *:not(:last-child) {
  margin: 0 0 10px 0;
}

.advantages__icon {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages__value {
  font-size: 40px;
  line-height: calc(57/40*100%);
  letter-spacing: 0.2px;
}

.advantages__text {
  font-size: 16px;
  line-height: calc(24/16*100%);
  letter-spacing: 0.1px;
  color: #737373;
}

.practice__header {
  margin: 0 0 45px 0;
}

.practice__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px -30px;
}

.practice__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 20px;
  margin: 0 0 30px 0;
}

@media (max-width: 1040px) {
  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0 20px;
  }
}

@media (max-width: 630px) {
  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0 20px;
  }
}

.practice__item {
  height: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.practice__content {
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.practice__title {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(24/16*100%);
  letter-spacing: 0.1px;
  margin-bottom: 10px;
}

.practice__text {
  font-size: 14px;
  line-height: calc(20/14*100%);
  letter-spacing: 0.2px;
  color: #737373;
}

.practice__img {
  display: block;
  padding: 0 0 60% 0;
}

#arrow {
  position: fixed;
  bottom: 5%;
  right: 3%;
  color: #FFFFFF;
  width: 50px;
  height: 50px;
  background: #0D5C63;
  border: 1px solid #FFFFFF;
  z-index: 3;
  border-radius: 50px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

@media (max-width: 720px) {
  .arrow {
    width: 40px;
    height: 40px;
  }
}

.who {
  background: #ffffff;
  padding: 80px 0 130px 0;
}

@media (max-width: 950px) {
  .who {
    padding: 50px 0 50px 0;
  }
}

@media (max-width: 760px) {
  .who {
    padding: 20px 0 20px 0;
  }
}

.who__header {
  margin: 0 0 100px 0;
}

@media (max-width: 950px) {
  .who__header {
    margin: 0 0 50px 0;
  }
}

.who__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 950px) {
  .who__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.who__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57%;
          flex: 0 0 57%;
  position: relative;
  padding: 0 0 42.25%;
}

@media (max-width: 950px) {
  .who__video {
    padding: 0 0 56.25% 0;
  }
  .who__video:not(:last-child) {
    margin: 50px 0 0 0;
  }
}

.who__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.who__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 0 0 121px;
}

@media (max-width: 1080px) {
  .who__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0 0 0 50px;
  }
}

@media (max-width: 950px) {
  .who__content {
    padding: 0 0 0 0;
  }
}

.who__top:not(:last-child) {
  margin: 0 0 50px 0;
}

.who__title {
  font-weight: 800;
  font-size: 40px;
  line-height: calc(57/40*100%);
  letter-spacing: 0.2px;
  margin: 0 0 10px 0;
}

@media (max-width: 950px) {
  .who__title {
    font-size: 24px;
  }
}

.who__text {
  font-size: 14px;
  line-height: calc(20/14*100%);
  letter-spacing: 0.2px;
  color: #737373;
}

.who__text:not(:last-child) {
  margin: 0 0 10px 0;
}

.who__item:not(:last-child) {
  margin: 0 0 30px 0;
}

.item__who {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__who-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
}

.item-who__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 0 0 20px;
}

.item-who__title {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(24/16*100%);
  letter-spacing: 0.1px;
}

.item-who__title:not(:last-child) {
  margin: 0 0 5px 0;
}

.item-who__text {
  font-size: 14px;
  line-height: calc(24/14*100%);
  letter-spacing: 0.2px;
  color: #737373;
}

.page__clients {
  margin: 0 0 10px 0;
}

.clients {
  padding: 50px 0;
  background: #FAFAFA;
}

@media (max-width: 767px) {
  .clients {
    padding: 35px 0;
  }
}

.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 8px 15px;
  text-align: center;
  min-width: 140px;
}

.clients__item img {
  max-width: 100%;
}

.subscribe {
  position: relative;
  padding: 0 0 20px 0;
}

.subscribe:before {
  content: "";
  position: absolute;
  background: #FFFFFF;
  width: 100%;
  height: 77px;
  bottom: 0;
  left: 0;
}

.subscribe__body {
  position: relative;
  z-index: 2;
  background: #17213C;
  border-radius: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 10px;
  margin: 0 -15px;
}

@media (min-width: 992px) {
  .subscribe__body {
    margin: 0 30px;
  }
}

@media (min-width: 800px) {
  .subscribe__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 50px;
  }
}

.subscribe__title {
  max-width: 266px;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(32/24*100%);
  letter-spacing: 0.1px;
  color: #FFFFFF;
}

.subscribe__out {
  margin: 10px 0 10px 0;
  font-size: 14px;
  line-height: calc(24/14*100%);
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 800px) {
  .subscribe__form {
    margin: 30px 0 0 0;
  }
}

.input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 14px;
  line-height: calc(28/14*100%);
  letter-spacing: 0.2px;
  min-height: 58px;
  border-radius: 5px 0px 0px 5px;
  padding: 0 20px;
}

@media (max-width: 800px) {
  .input {
    width: 400px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 400px;
            flex: 0 1 400px;
  }
}

.subscribe__button {
  background: #FF7B47;
  border: 1px solid #E6E6E6;
  border-radius: 0px 5px 5px 0px;
  color: #ffffff;
  padding: 15px 22.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 58px;
}

@media (max-width: 800px) {
  .subscribe__button {
    padding: 15px 15px;
  }
}

.footer {
  background: #17213C;
}

.footer__body {
  padding: 50px 0 20px 0;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item {
  margin: 0 30px 30px 0;
}

.footer__title {
  font-weight: bold;
  font-size: 16px;
  line-height: calc(24/16*100%);
  letter-spacing: 0.1px;
  color: #FFFFFF;
  margin: 0 0 20px;
}

.footer__address {
  font-size: 14px;
  line-height: calc(24/14*100%);
  letter-spacing: 0.2px;
  color: #FFFFFF;
  padding: 0 0 10px 0;
}

.footer__address-item {
  text-align: center;
}

.address__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__address-img {
  height: 24px;
  width: 24px;
  margin: 0 10px 0 0;
}

.footer-author {
  background: #fff;
}

.footer-author__body {
  padding: 25px 0;
}

.footer-author__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.footer-author__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  font-size: 14px;
  line-height: calc(24/14*100%);
  letter-spacing: 0.2px;
  color: #737373;
}

.footer-author__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 24px;
  height: 24px;
}

.footer-author__img img {
  padding: 0 10px;
}
